# Converters
# p2m
# aodt
# srt

# Generators
# python
# matlab

# Daily use folders
deepmimo_scenarios*

# Development:
#   For wireless insite outputs
P2Ms/*
#   For building visualizations
building_*


# Gitignore Defaults
__pycache__/
