# Converters
# p2m
# aodt
# srt

# Generators
# python
# matlab

# Daily use folders
deepmimo_scenarios*

# Artifacts
**/osm_root/*
**/blender_addons/*
manuals/*
*.pptx
*.mp4
*.npy
api_keys.py

# Development:
#   For wireless insite outputs
testing.py
executables/*
dev/*
P2Ms/*
*.p2m
conversion_errors.json
scripts/b2_direct_upload.py
# scripts/pipeline_runner.py
logging_*.txt

#   For building visualizations
building_*
old/*
keep_for_future/*

# Documentation
docs/_build/
docs/api/_autosummary/
docs/manual_full.ipynb

# Gitignore Defaults
__pycache__/
**/__pycache__/*
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.vscode
